<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>게시판 글쓰기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .wrap {
            width: 800px;
            margin: 10px auto;
            margin-top: 30px;
        }
    </style>
    <script>
        let getParam = window.location.search;
        let getId = getParam.split('=')[1]

        $(document).ready(function () {
            if (getId != null)
                getContents()
        })

        function getContents() {
            $.ajax({
                type: "GET",
                url: `/api/posts/${getId}`,
                success: function (response) {
                    let title = response.title
                    let username = response.username
                    let contents = response.contents
                    $('input[name=title]').attr('value', title);
                    $('input[name=username]').attr('value', username);
                    $('#contents').append(contents);
                }
            })


        }

        function submitPost() {
            title = $('#title').val()
            username = $('#username').val()
            contents = $('#contents').val()

            if (title === '' || username === '' || contents === '') {
                alert("모든 항목을 작성해주세요")
                return
            }


            if (getId != null) {
                $.ajax({
                    type: "PUT",
                    url: `/api/posts/${getId}`,
                    contentType: "application/json",
                    data: JSON.stringify({title, username, contents}),
                    success: function (response) {
                        alert("수정되었습니다.")
                        window.location.href = "/"
                    }
                })
            } else {
                $.ajax({
                    type: "POST",
                    url: '/api/posts',
                    contentType: "application/json",
                    data: JSON.stringify({title, username, contents}),
                    success: function (response) {
                        alert("저장되었습니다.")
                        window.location.href = "/"
                    }
                })
            }
        }

    </script>
</head>
<body>
<div class="container">
    <div class="wrap">
        <h2>게시판 글쓰기</h2>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" name="title" maxlength="50">
        </div>
        <div class="form-group">
            <label for="username">작성자</label>
            <input type="text" class="form-control" id="username" name="username" maxlength="10">
        </div>
        <div class="form-group">
            <label for="contents">내용</label>
            <textarea class="form-control" rows="5" id="contents"></textarea>
        </div>
        <button onclick="submitPost()" class="btn btn-default">등록</button>
    </div>
</div>
</body>
</html>

